@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex{
    display: flex;
}

/*nav styles*/
.navbar{
  justify-content: space-between;
  padding: 20px 80px;
}
.logo h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    justify-content: left;
}
.nav-item{
  list-style: none;
  margin-right: 35px;
}
.nav-link1, .nav-link2, .nav-link3, .nav-link4{
  text-decoration: none;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}
.nav-link1{
    color: orange;
}
.nav-link2{
    color: skyblue;
}
.nav-link3{
    color: #05D4DF;
}
.nav-link4{
    color: #5D58EF;
}
.navbar button{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}
.navbar button:hover{
    font-size: 25px;
}

/*banner styles*/
.banner{
    padding: 0px 80px;
    justify-content: space-between;
}
.banner-content{
    padding-top: 70px;
}
.banner h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
}
.banner p{
    font-size: 20px;
    margin: 0;
    padding: 30px 0px;
}
.banner button, .our-stories button{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}
.banner button:hover, .our-stories button:hover{
    font-size: 25px;
}
.banner img{
    width: 468px;
    height: 575px;
    
}

/*standard curriculum styles*/
.standard-curriculum, .our-stories{
    background: url(../images/bg.png);
}
.standard-curriculum{
    padding: 0px 60px;
}
.standard-curriculum h2{
    font-size: 46px;
    line-height: 57px;
    font-weight: bold;
    text-align: center;
}
.curriculum-contents{
    padding: 80px 0px;
    display: flex;
    justify-content: space-around;
}
.card-1, .card-2, .card-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 368px;
    height: 477px;
    border-radius: 19px;
    padding: 40px 40px;
}
.card-1 h4, .card-2 h4, .card-3 h4{
    font-weight: bold;
    font-size: 24.5px;
    line-height: 30px;
    color: black;
}
.card-1 p, .card-2 p, .card-3 p{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #808080;
}
.card-1 button, .card-2 button, .card-3 button{
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #808080;
    margin: 50px 0px;
    background-color: white;
    border: none;
}
.card-1 button{
    color: #64C8FF;
    cursor: pointer;
    border-radius: 50px;
}
.card-1 button:hover{
    background-color: #64C8FF;
    color: white;
}
.card-2 button{
    color: #F0AA00;
    cursor: pointer;
    border-radius: 50px;
}
.card-2 button:hover{
    background-color: #F0AA00;
    color: white;
}
.card-3 button{
    color: #8700FF;
    cursor: pointer;
    border-radius: 50px;
}
.card-3 button:hover{
    background-color: #8700FF;
    color: white;
}
.card-1{
    background: linear-gradient(to bottom, #DEF5FF, white);
    margin-right: 28px;
}
.card-2{
    background: linear-gradient(to bottom, #FFF4DC, white);
    margin-right: 28px;
}
.card-3{
    background: linear-gradient(to bottom, #F2E8FF, white);
}
.more-curriculum-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.more-curriculum-button img{
    background-color: orange;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    cursor: pointer;
   
}
.more-curriculum-button img:hover{
   background-color: rgb(250, 125, 0);
}

/*our stories styles*/
.our-stories{
    padding: 0px 60px;
    border-image: linear-gradient(rgba(255, 255, 255, .5), rgba(226, 203, 161, .5), rgba(254, 202, 108, .3)) fill 1;

}
.our-stories h2{
    font-size: 46px;
    line-height: 57px;
    font-weight: bold;
    text-align: center;
}
.all-stories{
    padding: 80px 0px;
    display: flex;
    justify-content: space-around;
}
.all-stories img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.stories-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 16px;
}
.story-0 h4, p{
    padding: 20px 40px;
}
.story-0 h5{
    background-color: #3CD8E8;
}
.story-2 h5{
    background-color: #5D58F0;
}
.story-1 h5, .story-3 h5, .story-4 h5{
    background-color: #95B226;
}
.story-0 p{
    color: #666666;
}
.stories-content h4{
    padding: 20px 40px;
}
.story-0, .story-1, .story-2, .story-3, .story-4{
    background: white;
    border-radius: 16px;

}
.all-stories h5{
    position: absolute;
    width: 175px;
    height: 48px;
    border-radius: 48px;
    color: white;
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    text-align: center;
    margin-top: -30px;
    margin-left: 40px;
}
.our-stories .button{
    text-align: center;
    padding-bottom: 60px;
}

/*footer styles*/
footer{
    padding: 80px 100px;
    background-color: #01ACFD;
    display: flex;
    justify-content: space-between;
}
.kids-edu img{
    width: 82px;
    height: 82px;
    background: white;
    margin-top: 40px;
}
.kids-edu h2{
    font-size: 42px;
    color: white;
    font-weight: bold;
    line-height: 39px;
}
.kids-edu p{
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
}
.about-school h4{
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.links h4{
    font-weight: bold;
    font-size: 26px;
    color: white;

}
.about-school ul > li{
    margin-bottom: 20px;
}
.about-school .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    
    
}
.links a{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*mobile device responsive layout*/
@media screen and (max-width: 576px){
    
}