@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex{
    display: flex;
}

/*nav styles*/
.navbar{
  justify-content: space-between;
  padding: 20px 80px;
}
.logo h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    justify-content: left;;
}
.nav-item{
  list-style: none;
  margin-right: 35px;
}
.nav-link1, .nav-link2, .nav-link3, .nav-link4{
  text-decoration: none;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}
.nav-link1{
    color: orange;
}
.nav-link2{
    color: skyblue;
}
.nav-link3{
    color: #05D4DF;
}
.nav-link4{
    color: #5D58EF;
}
.navbar button{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    
}

/*banner styles*/
.banner{
    padding: 0px 80px;
    justify-content: space-between;
}
.banner-content{
    padding-top: 70px;
}
.banner h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
}
.banner p{
    font-size: 20px;
}
.banner button{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.banner img{
    width: 468px;
    height: 575px;
    
}

/*standard curriculum styles*/
.standard-curriculum{
    padding: 0px 60px;
    background: url(../images/bg.png);
}
.standard-curriculum h2{
    font-size: 46px;
    line-height: 57px;
    font-weight: bold;
    text-align: center;
}
.curriculum-contents{
    padding: 80px 0px;
    display: flex;
    justify-content: space-around;
}
.card-1, .card-2, .card-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 368px;
    height: 477px;
    border-radius: 19px;
    padding: 40px 40px;
}
.card-1 h4, .card-2 h4, .card-3 h4{
    font-weight: bold;
    font-size: 24.5px;
    line-height: 30px;
    color: black;
}
.card-1 p, .card-2 p, .card-3 p{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #808080;
}
.card-1 button, .card-2 button, .card-3 button{
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #808080;
    margin: 50px 0px;
    background-color: white;
    border: none;
}
.card-1 button{
    color: #64C8FF;
}
.card-2 button{
    color: #F0AA00;
}
.card-3 button{
    color: #8700FF;
}
.card-1{
    background: linear-gradient(to bottom, #DEF5FF, white);
    margin-right: 28px;
}
.card-2{
    background: linear-gradient(to bottom, #FFF4DC, white);
    margin-right: 28px;
}
.card-3{
    background: linear-gradient(to bottom, #F2E8FF, white);
}
.more-curriculum-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-curriculum-button img{
    background-color: orange;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}